<h2>{{ getTitle() }}</h2>

<div *ngIf="courses.length > 0; then coursesList else noCourses"></div>

<ng-template #coursesList>
  <ul class="list-group" style="max-width:250px;">
    <li *ngFor="let course of courses; trackBy: trackCourse" class="list-group-item">
      {{ course.title }}
      <span class="badge">
        <!-- An alias for isFavorite can be setted in html as in the example below -->
        <app-favorite [is-favorite]="course.isFavorite" (change)="onFavoriteChange($event)"></app-favorite>
      </span>
    </li>
  </ul>
</ng-template>

<ng-template #noCourses>
  No courses yet
</ng-template>

<button class="btn btn-primary" (click)="addCourse()">Add course</button><br /><br />

<div class="course-details">
  <!-- Multiple pipes can be added. e.g.: | uppercase | lowercase ... -->
  <!-- Can check all pipes available in angular.io and search for pipes -->
  <p>{{ course.title | uppercase }}</p>
  <p>{{ course.students | number }}</p>
  <p>{{ course.rating | number: '1.2-2' }}</p> <!-- This means that we will have a minimum of of 2 digits and maximum of 2 digits after decimal  -->
  <p>{{ course.price | currency:'COP':true:'3.2-2' }}</p>
  <p>{{ course.releaseDate | date:'shortDate' }}</p>
</div>

<div>
  <p>{{ longText | summary:20 }}</p>
</div>